body{
    text-align:center;
    color: aquamarine;
    background-color:black;
    font-family: 'Orbitron', sans-serif;
    font-size: 12px;
    padding-bottom: 50px;
}

#time-remaining{
    color:white;
    position: absolute;
    font-family: 'Sedgwick Ave Display', cursive;
    margin-left: 600px;
    margin-top: -900px;
    font-size: 20px;

}

#kobe {
    width: 20%;
    position:absolute;
    margin-top: -700px;
    margin-left: -700px;
}

#mj{
    width:28%;
    position:absolute;
    margin-left:-850px;
    margin-top:-300px;
}

#lebron{
    width:30%;
    position:absolute;
    margin-left: 360px;
    margin-top: -700px;
}

#basket{
    width:15%;
    margin-top:20px;
}

#nba {
    width:10%;
    margin-top:10px;
}

#start{
    margin-top: 30px;
}


#answer {
    margin-left: 50px;
    padding-top: 40px;
}


#q{
    padding-top: 40px;
}

h1{
    font-size: 50px;
    padding-top: 40px;
}